body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 20rem;
  max-width: 40rem;
}

.content h1 {
  padding: 4rem;
  font-size: 5rem;
  text-align: center;
  background: url(https://img.freepik.com/foto-gratuito/bel-arcobaleno-in-natura_23-2151498273.jpg);
  background-size: cover;
  background-clip: text;
  color: transparent;
}