body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 60vh;
  border: 1px solid hsl(0, 0%, 75%);
  background-image: url("https://img.freepik.com/foto-gratuito/colpo-verticale-di-un-recinto-di-legno-con-alte-scogliere-rocciose-nella-valle-di-funes-st-italia_181624-5964.jpg");
  background-size: cover;
  background-position: center top;
}

.content h1 {
  padding: 2rem 3rem;
  background: hsla(0, 0%, 0%, 0.2);
  border: 1px solid white;
  font-size: 2rem;
  color: white;
}
